body {
  margin: 0;
  padding: 0;
  background: #000000;
}

.container {
  background: #000000;
  overflow: auto;
  /* max-width: 2000px; */
  width: 100%;
}

/* FOOTER START */

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: #000000;
  padding: 100px 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  gap: 71px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 418px;
  height: auto;
  /* Adjust height to fit content dynamically */
  flex: none;
}

.sure_shot_text_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  gap: 20px;
}

.sure_shot_text {
  font-family: "Thasadith";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}

.social_icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.social_icons_img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.footer_coloumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.footer_coloumn_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.footer_coloumn_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer_coloumn_link_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.footer_coloumn_link_text_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 25px;
  color: #ffffff;
}

.footer_coloumn_link_text_subtitle {
  font-family: "Thasadith";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #ffffff;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0px;
  border-top: 1px solid #ffffff;
  margin-top: 25px;
}

.footer_copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 928px) {
  .footer-top {
    flex-direction: column;
    gap: 32px;
  }

  .white_on_black {
    margin: 0 auto;
  }

  .grid {
    width: 100%;
    align-items: baseline;
  }

  .sure_shot_text_div {
    align-items: left;
    margin: 0 auto;
  }

  .sure_shot_text {
    font-size: 28px;
    line-height: 36px;
  }

  .social_icons {
    gap: 16px;
  }

  .social_icons_img {
    width: 45px;
    height: 45px;
  }

  .footer_coloumn {
    align-items: center;
    width: 100%;
    max-width: 100%;
  }

  .footer_coloumn_links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer_coloumn_link_text {
    align-items: center;
  }

  .footer_coloumn_link_section {
    display: flex;
    gap: 50px;
  }
}

@media (max-width: 620px) {
  .footer_coloumn_link_section {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .white_on_black {
    width: 100%;
    margin: 0 auto;
  }

  .sure_shot_text_div {
    align-items: flex-start;
  }

  .footer {
    padding: 50px 10px;
  }

  .sure_shot_text_div {
    margin: 0;
  }

  .sure_shot_text {
    font-size: 24px;
    line-height: 32px;
  }

  .footer_copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer_coloumn_links {
    flex-direction: row;
    align-items: center;
  }

  .footer_coloumn_link_text {
    align-items: baseline;
  }

  .footer_coloumn_link_img {
    margin-bottom: 35px;
  }

  .grid {
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
    max-width: 100%;
  }

  .footer_coloumn {
    align-items: baseline;
    width: 100%;
    max-width: 100%;
    margin-left: 2%;
  }
}

/* FOOTER END */

/*ABOUT US START*/

.about_us_container {
  position: relative;
  background: #000000;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about_us_right_side {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.about_us_right_side_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  /* Adjusted for responsiveness */
  line-height: 60px;
  /* Adjusted for responsiveness */
  color: #ffffff;
}

.about_us_right_side_sub_title,
.about_us_right_side_sub_sec_title {
  font-family: "Thasadith";
  font-size: 18px;
  /* Adjusted for responsiveness */
  line-height: 26px;
  /* Adjusted for responsiveness */
  color: #ffffff;
}

.about_us_right_side_sub_sec_btn {
  padding: 15px 30px;
  /* Adjusted for responsiveness */
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 80px;
  background: #cade00;
  border-radius: 20px;
  font-size: 30px;
  cursor: pointer;
  border: none;
}

.about_us_left_side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

@media screen and (max-width: 768px) {
  .about_us_container {
    justify-content: center;
  }

  .about_us_right_side_sub_sec_btn {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    margin: 0 auto;
  }

  .about_us_right_side {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .about_us_container {
    display: flex;
    flex-direction: row-reverse;
  }

  .about_us_right_side {
    width: 50%;
    text-align: left;
    justify-content: center;
  }

  .about_us_left_side {
    width: 50%;
  }

  .about_us_right_side_title {
    font-size: 80px;
    line-height: 100px;
  }

  .about_us_right_side_sub_sec_title {
    font-size: 24px;
    line-height: 32px;
  }

  .about_us_right_side_sub_sec_btn {
    font-size: 24px;
    margin-top: 50px;
  }

  .about_us_left_side_group3 {
    width: 605px;
    height: 827px;
  }

  .locate_swigger_btn {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 1300px) {
  .about_us_right_side_title {
    margin-bottom: 5%;
    font-size: 50px;
  }

  .about_us_right_side_sub_sec_btn {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    margin: 0 auto;
    width: 250px;
    font-size: 21px;
    height: 20%;
  }
}

@media screen and (min-width: 1600px) {
  .about_us_right_side {
    margin-right: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .about_us_right_side_sub_sec_title {
    font-size: 32px;
    line-height: 40px;
  }

  .about_us_right_side_sub_sec_btn {
    width: 316px;
    height: 80px;
    font-size: 30px;
  }
}

@media screen and (max-width: 468px) {
  .about_us_right_side_sub_sec_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11.0938px 22.1875px;
    gap: 5.55px;
    width: 203.38px;
    height: 45.19px;
  }

  .locate_swigger_btn {
    margin-top: 10% !important;
    margin-left: 0px !important;
  }
}

/* WHY CHOOSE US START */

.why_choose_us_container {
  position: relative;
  padding: 100px 10%;
  background-color: #000000;
  /* Example background color */
}

.why_choose_us_group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
}

.why_choose_us_sub1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
}

.why_choose_us_sub1_row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.why_choose_us_sub1_col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.why_choose_us_sub1_col_img {
  max-width: 100%;
  height: auto;
}

.why_choose_us_sub1_col_img_text {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.why_choose_us_sub2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 45%;
}

.why_choose_us_sub2_title {
  font-family: "Thasadith", serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.9;
  text-transform: capitalize;
}

.why_choose_us_sub2_subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 55px;
  color: #ffffff;
  text-transform: capitalize;
}

.why_choose_us_sub2_img_row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.why_choose_us_sub2_img {
  max-width: 80%;
  height: auto;
}

.why_choose_us_sub2_img_text {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 80px;
  color: #cade00;
  text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) {
  .why_choose_us_group {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .why_choose_us_sub1_row {
    width: 100%;
  }

  .why_choose_us_sub1,
  .why_choose_us_sub2 {
    align-items: left;
    width: 100%;
  }

  .why_choose_us_sub2_subtitle {
    font-size: 50px;
  }

  .why_choose_us_sub2_img {
    width: 70%;
  }

  .why_choose_us_sub2_img_row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* Center horizontally */
    text-align: center;
    /* Center text */
    gap: 10px;
    /* Spacing between image and ? */
  }

  .why_choose_us_sub2_img_text {
    font-size: 60px;
    /* Adjust size for mobile */
  }

  .why_choose_us_container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 468px) {
  .why_choose_us_container {
    padding-top: 0px;
  }
}

/* WHY CHOOSE US END */

/* FLAVOURS SECTION START */
.flavours_container {
  background: #000000;
  padding: 100px 15%;
}

.flavours_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.flavours_header_title {
  font-family: "Thasadith";
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
  opacity: 0.9;
}

.flavours_header_subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;
  color: #ffffff;
}

.flavours_tab {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: left;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flavours_tab_btn {
  display: inline-block;
  white-space: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 274px;
  background: #000000;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.9;
  cursor: pointer;
}

.flavours_tab_btn_active {
  background: #cade00;
  border: 1px solid #000000;
}

.flavours_tab_btn:hover {
  background: #ffffff;
  color: #000000;
}

.flavours_tab_content {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 1s ease-in-out, visibility 0.3s ease-in-out;
  pointer-events: none;
}

.flavours_tab_content.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  pointer-events: auto;
  /* Re-enable interaction for active content */
}

.flavours_tab_content_item {
  flex: 1 1 calc(25% - 20px);
  max-width: 30%;
  text-align: center;
}

.flavours_tab_content_item img {
  width: 210px;
  height: auto;
}

.flavours_tab_content_item_text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding-top: 25px;
}

/* Responsive adjustments */
@media (min-width: 1025px) {
  .flavours_tab_content {
    justify-content: left;
    padding-top: 65px;
  }

  .flavours_tab_content_item img {
    max-width: 200px;
  }
}

@media (max-width: 1024px) {
  .flavours_tab_content {
    justify-content: left;
    padding-top: 40px;
  }

  .flavours_header_subtitle {
    font-size: 50px;
    line-height: 65px;
  }

  .flavours_tab_content_item {
    flex: 1 1 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .flavours_tab_content {
    flex-wrap: nowrap;
  }

  .flavours_container {
    padding-bottom: 25px;
    padding: 20px 5%;
  }

  .flavours_header_title {
    font-size: 24px;
    line-height: 32px;
  }

  .flavours_header_subtitle {
    font-size: 40px;
    line-height: 55px;
  }

  .flavours_tab_content_item {
    flex: 1 1 calc(50% - 20px);
    padding-bottom: 30px;
  }

  .flavours_header {
    text-align: left;
  }

  .flavours_tab_btn {
    font-size: 18px;
    line-height: 30px;
  }

  .flavours_tab {
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 30px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .pull-rip-btn {
    line-height: 50px !important;
    margin-bottom: 0px;
    margin-top: 10%;
  }
}

@media (max-width: 480px) {
  .flavours_tab_content.active {
    display: flex !important;
  }

  .flavours_tab_content.inactive {
    display: none;
  }

  .flavours_tab_content {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  /* .flavours_tab {
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  } */
  .flavours_header_subtitle {
    font-size: 45px;
    line-height: 65px;
  }

  .flavours_tab_content_item {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    width: 250px !important;
    max-width: 100%;
  }

  .flavours_tab_content_item_text {
    padding-bottom: 75px;
  }
}

/* FLAVOURS SECTION END */

/* TESTIMONIALS SECTION START */

.testimonials_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 150px;
  gap: 10px;
  background: #000000;
  position: relative;
}

.testimonials_group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* height: 525px; */
}

.testimonials_group_section {
  display: flex;
  align-items: center;
}

.testimonials_sub_group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.testimonials_sub_group_title {
  display: flex;
  align-self: baseline;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 99px;
  color: #ffffff;
}

.testimonials_tab_container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonials_tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.testimonials_tab_img {
  cursor: pointer;
}

.testimonials_tab_content_description {
  margin-top: 70px;
  width: 741px;
  font-family: "Thasadith";
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.9;
}

.testimonials_tab_content_auther {
  font-family: "Thasadith";
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
  text-align: right;
  color: #ffffff;
}

.testimonials_line {
  width: 85%;
  align-self: baseline;
  margin-top: -60px;
  height: 0px;
  border: 2px solid #cade00;
  transform: rotate(180deg);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Media Queries for responsiveness */
@media screen and (min-width: 1200px) {
  .testimonials_tab_content_description {
    min-height: 190px;
  }
}

@media screen and (max-width: 1200px) {
  .testimonials_group_section {
    margin-top: -20%;
  }

  .testimonials_img {
    width: 30%;
    margin-top: 30%;
  }

  .testimonials_container {
    padding: 50px 40px 100px;
  }

  .testimonials_sub_group_title {
    font-size: 60px;
    line-height: 80px;
  }

  .testimonials_tab_container {
    gap: 20px;
  }

  .testimonials_tab_img {
    width: 40px;
    /* Adjust the size of tabs */
    height: auto;
  }

  .testimonials_tab_content_description {
    width: 90%;
    font-size: 28px;
    line-height: 36px;
  }

  .testimonials_tab_content_auther {
    font-size: 28px;
  }

  .testimonials_line {
    width: 100%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .testimonials_container {
    padding: 30px 20px 80px;
  }

  .testimonials_sub_group_title {
    font-size: 50px;
    line-height: 70px;
  }

  .testimonials_tab_content_description {
    font-size: 16px;
    line-height: 32px;
  }

  .testimonials_tab_content_auther {
    font-size: 24px;
  }

  .testimonials_sub_group {
    padding: 25px;
  }

  .testimonials_line {
    width: 100%;
  }

  .testimonials_tab {
    gap: 15px;
  }
}

@media screen and (max-width: 480px) {
  .testimonials_container {
    padding: 20px 10px 60px;
  }

  .testimonials_sub_group_title {
    font-size: 40px;
    line-height: 60px;
  }

  .testimonials_tab_content_description {
    font-size: 16px;
    line-height: 28px;
    margin-top: 25px;
  }

  .testimonials_tab_content_auther {
    font-size: 18px;
  }

  .testimonials_line {
    width: 100%;
    margin-top: -28%;
    margin-bottom: 20%;
  }

  .testimonials_tab_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .testimonials_sub_group {
    padding: 20px;
  }

  .testimonials_sub_group_title {
    display: flex;
    text-align: left;
    font-size: 36px;
  }

  .testimonials_tab {
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
  }

  .testimonials_tab_img {
    width: 30px;
  }

  .testimonials_img {
    margin-top: -8%;
  }
}

/* TESTIMONIALS SECTION END */

/* HERO SECTION START */
.hero_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 112px;
  position: relative;
}

.hero_center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  width: 50%;
  /* position: absolute; */
  /* width: 768px;
  height: 612px;
  left: 190px;
  top: 242px; */
}

.hero_center_title {
  font-family: "Delius";
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 151px;
  text-align: right;
  color: #ffffff;
}

.hero_center_subtitle {
  text-align: right;
  font-family: "Thasadith";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: #ffffff;
}

.hero_logo {
  position: absolute;
  left: 100px;
  top: 50px;
  z-index: 5;
}

.hero_right_img {
  align-self: flex-end;
  width: 50%;
  height: auto;
}

.hero_arrow {
  vertical-align: baseline;
  padding: 50px;
}

@media (min-width: 1600px) {
  .hero_center {
    margin-top: -10%;
  }

}

@media (min-width: 768px) {
  .hero_mobile_img_container {
    display: none;
  }
}

/* @media (max-width: 1550px) {
  .hero_span {
    width: 10%;
    color: transparent;
  }
  .hero_mobile_img_container {
    display: flex;
    flex-direction: row;
  }
  .hero_right_img {
    display: none;
  }
  .hero_center {
    padding-top: 25%;
    padding-bottom: 10%;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }
  .hero_center_title {
    text-align: center;
  }
  .hero_center_subtitle {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
} */

@media (max-width: 1024px) {
  .hero_center {
    gap: 30px;
  }

  .hero_center_title {
    font-size: 80px;
    line-height: 100px;
  }

  .hero_center_subtitle {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  .hero_logo {
    left: 50px;
    top: 20px;
    width: 50%;
  }

  .hero_arrow {
    margin-left: -122px;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .hero_arrow {
    display: none;
  }

  .arrow_down {
    display: block !important;
  }

  .hero_center {
    align-items: flex-start;
  }

  .hero_mobile_img_container {
    width: 100%;
  }

  .hero_bottle {
    width: 100%;
  }

  .hero_right_img {
    display: none;
  }

  .hero_mobile_img_container {
    flex-direction: column;
  }

  .hero_center {
    gap: 20px;
    padding-top: 18%;
    width: 100%;
  }

  .hero_center_title {
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
  }

  .hero_center_subtitle {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .hero_logo {
    left: 20px;
    top: 10px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hero_arrow {
    display: none;
  }

  .arrow_down {
    display: block !important;
    margin-left: 25%;
  }

  .hero_mobile_img_container {
    width: 100%;
  }

  .hero_center_title {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }

  .hero_center_subtitle {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }

  .about_us_right_side_sub_sec_btn {
    font-size: 18px;
    width: 65% !important;
    margin-top: 0px;
    margin-left: 10%;
    gap: 5.55px;
    border-radius: 11.0938px;
  }

  .explore_btn {
    margin-top: 0px !important;
    width: 250px !important;
  }

  .hero_logo {
    width: 50%;
  }
}

@media screen and (max-width: 1450px) and (min-width: 768px) {
  .hero_arrow {
    display: none;
  }

  .arrow_down {
    display: block !important;
    margin-top: 40%;
  }
}

/* HERO SECTION END */
/* Hero Section */

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0px !important;
    margin: 0px !important;
  }
}

/* NAV BAR START */
.offcanvas-start {
  width: 250px;
  /* Adjust the width of the drawer */
}

.navbar-toggler {
  border: none;
  /* Remove default border */
}

.navbar-toggler:focus {
  box-shadow: none;
  /* Remove focus shadow */
}

.navbar-toggler-icon {
  filter: invert(100%);
  /* Makes the icon fully white */
}

.home-nav,
.artcles-nav {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 10;
}

.home-nav .nav-link {
  color: black;
  font-size: 30px;
}

.artcles-nav .nav-link {
  color: white;
  font-size: 30px;
}

.nav_img {
  width: 80%;
}

.navbar-nav {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {

  .home-nav,
  .artcles-nav {
    position: absolute;
    right: 0%;
    top: 1%;
    z-index: 10;
  }

  .home-nav .nav-link {
    font-size: 25px;
  }

  .artcles-nav .nav-link {
    color: black;
    font-size: 25px;
  }
}

@media (min-width: 767px) and (max-width: 1307px) {
  .home-nav .nav-link {
    color: #fff;
  }
}

/* NAV BAR END */


/*GALLERY SECTION START */

.gallery_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96.2778px 0px;
  gap: 12.03px;
  width: 100%;
  height: 963.62px;
  background: #000000;
  flex: none;
  order: 6;
  flex-grow: 0;
}

.gallery-header {
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  color: #FFFFFF;
}

.gallery-divider {
  width: 80%;
  height: 0px;
  border: 1.22425px solid #E1E4ED;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 auto;
  margin-top: 50px;
}

.gallery-username-section {
  height: 70.32px;
  width: 60%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Aligns items to the left and right */
  align-items: center;
}

.gallery-follow-btn {
  padding: 21.6625px 26.4764px;
  gap: 4.81px;
  background: #CADE00;
  box-shadow: 0px 1.20347px 4.81389px rgba(25, 33, 61, 0.08);
  border-radius: 9.62778px;
  border: none;
  cursor: pointer;
}


.gallery-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 14.44px;
}

.gallery-username {

  font-family: 'Thasadith';
  font-style: normal;
  font-weight: 700;
  font-size: 21.6625px;
  line-height: 29px;
  color: #FFFFFF;

}

.gallery-badge {
  margin-left: -10px;
}


.gallery-slider-container {
  margin: 50px auto;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 345px;
  border-radius: 10px;
  object-fit: cover;
}

.swiper-pagination {
  position: relative !important;
  bottom: -30px;
  /* Moves pagination further below */
  margin-top: 30px;
  /* Additional spacing */
  text-align: center;
}

.swiper-pagination .swiper-pagination-bullet {
  background: white !important;
  /* Force inactive bullets to white */
  width: 10px;
  height: 10px;
  opacity: 0.6;
  transition: 0.3s;
}


.swiper-pagination .swiper-pagination-bullet-active {
  background: yellow !important;
  /* Change active bullet color */
  opacity: 1;
}

.gallery-hash-tag {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .gallery-header {
    font-size: 30px;
  }

  .gallery-divider {
    display: none;
  }

  .gallery-username-section {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .gallery-follow-btn {
    width: 140%;
    padding: 10px;
    margin: 20px;
  }

  .gallery-slider-container {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .gallery-hash-tag {
    display: none;
  }
}

/* GALLERY SECTION END */


/* ARTICLES SECTION START */

.articles_container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 0px;
  width: 70%;
  margin: 0 auto;
  margin-top: 15% !important;

}

.articles_title {

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 99px;
  color: #FFFFFF;
}

.articles-divider {
  width: 100%;
  height: 0px;
  border: 1px solid #E1E4ED;

}

.articles_grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

}

.articles_blog_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
  height: 354px;

}

.articles_blog_img {
  width: 70%;
  height: auto;
  border-radius: 8px;
  max-width: 550px;

}

.articles_blog_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 165px;
}

.articles_blog_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;
  height: 15px;
  text-decoration: none;

}

.articles_grid a {
  text-decoration: none;
  color: #FFFFFF;
}

.articles_grid a :hover {
  text-decoration: none;
}

.artcles_blog_divider {
  width: 22.84px;
  height: 0px;
  border: 1px solid #E1E4ED;
  flex: none;
  order: 1;
  flex-grow: 0;

}

.articles_blog_title {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  order: 2;
  align-self: stretch;
}

@media (max-width: 768px) {
  .articles_blog_card {
    flex-direction: column;
    margin-top: 0px !important;
    margin-bottom: 100px;
  }

  .articles_blog_img {
    width: 100%;
  }

  .articles_blog_header {
    display: flex;
  }

  .articles_container {
    padding: 0px;
    margin-bottom: 25%;
  }

  .articles_title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .articles_blog_title {
    margin-top: 25px !important;
  }
}

@media screen and (max-width: 500px) {
  .articles_blog_card {
    max-width: 90%;
    margin-bottom: 0px;
  }

  .articles_blog_title {
    font-size: 20px;
  }


}

/* ARTICLES SECTION END */

/* VERIFY SECTION START */

.verify_container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  background: url("images/verify.png") no-repeat center center;
  background-size: cover;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Ensures spacing on smaller screens */
}

.verify_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 44px;
  gap: 10px;
  width: 32%;
  max-width: 500px;
  /* Prevents the form from becoming too wide on large screens */
  height: 740px;
  background: #FFFFFF;
  border-radius: 20px;
}

.verify_form_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify_form_img {
  width: 100%;
  margin-right: 13px;
}

.verify_form_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 36px;
  height: 335px;
}

.verify_form_sub_text {
  font-family: 'Inter';
  margin-top: 10%;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #000000;

}

.verify_form_date_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.verify_form_date_title {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;

}

.verify_form_date_input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.verify_form_date {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba(128, 128, 128, 0.55);
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  color: #000;
  height: 60px;
}

.verify_form_date::placeholder {
  color: #000;
  font-weight: 500;
  opacity: 0.6;
  /* Adjust opacity for better readability */
}

a {
  text-decoration: none;
  /* Removes underline */
}

.verify_form_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 40px;
  gap: 10px;
  height: 70px;
  font-size: 28px;
  font-weight: 400;
  background: #CADE00;
  border-radius: 20px;
  border: none;
  color: #000;
  /* Ensures text is visible */
  cursor: pointer;
}

a:focus,
.verify_form_btn:focus {
  outline: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  .verify_form_date {
    width: 32%;
    /* Adjusts width on smaller screens */
  }

  .verify_form_date {
    height: 45px;
  }

  .verify_form_img {
    width: 75%;
  }

  .verify_form_sub_text {
    font-size: 24px;
  }

  .verify_form_date_title {
    font-size: 18px;
  }

  .verify_form_btn {
    font-size: 18px;
  }
}

/* Responsive adjustments */
@media (max-width: 1300px) {
  .verify_form {
    width: 90%;
    /* Makes form take more space on smaller screens */
    padding: 30px 20px;
    height: 740px;
  }
}



/* VERIFY SECTION END */